<span class="smart-up">
  <%= link_to (raw((options[:uplink][:text] rescue "&uarr;"))), {:controller => "/smart_list", :action => "move_up", :id => item.id, :type =>item.class_name_sha}, :class => ((options[:uplink][:class] rescue nil)) %>
</span>
<span class="smart-down">
  <%= link_to (raw((options[:downlink][:text] rescue "&darr;"))), {:controller => "/smart_list", :action => "move_down", :id => item.id, :type => item.class_name_sha}, :class => ((options[:downlink][:class] rescue nil)) %>
</span>